.alt1{
	background-color: #ccc;
	margin-top: 0px;
	min-height: 400px;
}

.jumbotron{

    background-image: url('../Images/jumbotron.jpg');
	background-attachment: fixed;
	min-height: 350px;
	margin-bottom: 0px;
    box-shadow: #222222;

}

.padding{
	padding-top: 20px;
	padding-bottom: 20px;

}

#myCarousel{

}