@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

/*Formatação das Faixas
 =========================================================================*/
.alt1{
    /* main jumbotron */
	background-color: #ccc;
	min-height: 400px;

}

.alt2{
    /* footer section */
     background-color: #333;
     min-height: 500px;
     color: #fff;
     text-align: center;

 }

.alt3{
    background-color: #3c3c3c;
    min-height: 150px;
    color: #fff;
    padding-top: 65px;
}

.alt4{
    /* projects highlights */
    background: url('../Images/05.jpg') fixed;
    padding-top: 40px;
    background-color: #ccc;
    min-height: 500px;
}

.alt5{
    /* Projects Browser */
    background-color: #ffffff;
    text-align: justify;
    padding-bottom: 25px;
    color: #222222;
}

.alt6{
    /* contacts section */
    background: url('../Images/03.jpg') fixed;
    background-color: #ffffff;
    min-height: 500px;
    padding-bottom: 150px;
    margin-bottom: 50px;

}

.alt7{
    /* The Crew */
    background: url('../Images/05.jpg') fixed;
    padding-top: 40px;
    background-color: #ccc;



}

/* Formatação dos Jumbotrons - Destaque de informção
 =========================================================================*/
#jumbotron{
    background: url('../Images/04.jpg') fixed;
    min-height: 600px;
    padding-top: 45px;
    max-height: 798px;
    max-width: 1920px;
    margin-bottom: 0px;
    color: #9acfea;
    font-size: larger;
    font-weight: 100;
 }

#jumbotronSheet{
    min-height: 150px;
    padding-top: 15px;
    margin-bottom: 0px;
    color: #080808;
}

#jumboTronProjetcBrowser{
     background: url('../Images/php-code_2.png') fixed;
     min-height: 250px;
     padding-top: 10px;
     max-height: 1080px;
     max-width: 1920px;

 }

#jumboTronAccountsBrowser{
    background: url('../Images/php-code_2.png') fixed;
    min-height: 250px;
    padding-top: 10px;
    max-height: 1080px;
    max-width: 1920px;
}
#pan1{
    background-color: #cccccc;
    box-shadow: 8px 8px 6px #222222;
    vertical-align: middle;
    margin-top: 40px;
}


/* ==============================
 * PADDINGS
 *================================ */
.padding{
	padding-top: 80px;
	padding-bottom: 50px;

}

.padding-Top{
    padding-top: 40px;
}

.padding-Bottom{
    padding-bottom:60px;

}

.button-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

#navegacao{
    padding-bottom: 0px;
    min-height: 50px;
    max-height: 70px;
}


.input-group{
    padding-bottom: 20px;
}

.modal {
    color: #222222;
}


/* Thumbnail das tabelas
==================================================================*/
#imgTable{
    max-height: 60px;
    max-width: 60px;

}

/* Formatação do Botão para ir para o topo
==================================================================*/
.go-top{
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #ffffff;
    background-color: #204d74;
    font-size: 12px;
    padding: 1em;
    display: none;
}

.go-top:hover{
    background-color: #5bc0de;
    color: #ffffff;
}

/* Formatação da caixa de search no cabeçalho
=====================================================================*/
#search{
    width: 350px;

}

#logPanel {
    padding-top: 2px;
    box-shadow: 8px 8px 6px #333;
    margin-top: 40px;
}

#panelFooter{
    text-align: center;
    alignment: center;
    padding-bottom: 25px;
}


/* Alinhamentos de texto
========================================================================*/
.textAlignRight{
    text-align: right;
}

.textAlignCenter{
    text-align: center;
}


html {
    /*If you had a black or close to black background*/
    background-color: #333;
}

.btn-Toolbar{
    align-content: center;
    text-align: center;

}

.socialNetworksIcons{
    color: #cccccc;
    text-decoration: none;
}

.footer {
    padding-bottom: 20px;
}

#corpo{
    padding-top: 90px;
}

#panelProjectsExplorer{
    margin-top: 30px;
}

#subNavBar{
    background-color: #286090;
    color: #ffffff;
    align-self: center;
    align-items: center;
}

#subNavButtons{
    color: #ffffff;
}



.jumbotron{

    padding-top: 5px;
    padding-bottom: 30px;
}

.panel{

    margin-top: 10px !important;
}

.col-md-6-rightAlign{
  text-align: right !important;
}
.col-md-8-centerAlign{
    text-align: center !important;
}

.align-center{
    text-align: center !important;
}

.align-right{
    text-align: right !important;
}

.align-left{
    text-align: left !important;
}

.subNavButtons{
    padding-bottom: 5px;
    padding-top: 5px;
}

#tf-contact{
    padding: 80px 0;
    padding-bottom: 90px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }

.line {
    border-top: 4px solid #245580;
    height: 10px;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.tf-btn{
    float: right;
    background: #FCAC45;
    border: 0;
    border-radius: 0;
    padding: 40px 40px;
    color: #ffffff;
    text-transform: uppercase;

}

#tf-services i.fa {
    font-size: 40px;
    border: 4px solid #245580;
    width: 100px;
    height: 100px;
    padding: 27px 25px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all 0.5s;
}

#tf-services i.fa.fa-mobile{
    font-size: 50px;
    padding: 20px 25px;
}

#tf-services .service:hover>i.fa{
    background: #2aabd2;
    color: #ffffff;
}

.space{
    margin-top: 40px;
}


/* Team Section
 =================================================================================*/
#tf-team{
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
}


/* Formatação do Overlay (faixa semi-transparente) na secção Meet The Crew
================================================================================*/
#tf-team .overlay {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)), color-stop(35%, rgba(0, 0, 0, 0.66)), color-stop(62%, rgba(0, 0, 0, 0.55)), color-stop(100%, rgba(0, 0, 0, 0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#66000000', GradientType=0); /* IE6-9 */
    background-attachment: fixed;

}



#team{ margin: 0 auto}
#team {
    padding: 0;
    margin: 15px;
    color: #FFF;
    text-align: center;
}

img.img-circle.team-img {
    width: 120px;
    height: 120px;
    border: 4px solid transparent;
    transition: all 0.5s;
}
#tf-team .thumbnail:hover>img.img-circle.team-img{
    border: 4px solid #245580;
}
#tf-team .thumbnail {
    background: transparent;
    border: 0;
}

#tf-team .thumbnail .caption {
    padding: 9px;
    color: #F2F2F2;
}
