.alt1{
    padding-top: 40px;
	background-color: #ccc;
	margin-top: 0px;
	min-height: 400px;
}

.alt2{
    background-color: #333;
    margin-top: 0px;
    min-height: 150px;
    color: #fff;
    text-align: center;
}

.jumbotron{

    background-image: url('../Images/jumbotron.jpg');
	background-attachment: fixed;
	min-height: 450px;
	margin-bottom: 0px;
    box-shadow: #222222;

}

.padding{
	padding-top: 30px;
	padding-bottom: 20px;

}

#myCarousel{

}

#navSearch{
    width: 100px;
}